
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <h1 class="text-center">Burada Sizin reklaminiz ola bilerdi</h1>  
    </div>

