
@{
    Layout = null;
}

<!DOCTYPE html>
@*Loginin Indexi*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page Login Controller Index Action</title>
    <link href="~/Areas/Admin/Public/Css/login.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" style="object-fit:cover;" class="profile-img-card" src="https://scontent.fgyd4-2.fna.fbcdn.net/v/t1.0-9/31180306_1955988434474147_6899175116261818368_n.jpg?_nc_cat=0&oh=87c407e33d132bc9135077bf23e2075f&oe=5B5F4A94" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" name="Pass" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
               @{ 
                   if(ViewBag.Error != null)
                   {
                <ul class="Info" style="list-style: none;display: inline;">
                    <li>
                        <div class="alert alert-warning" style="padding:1px;">
                            <h5 class="text-center">@ViewBag.Error</h5>
                       </div>
                    </li>
                </ul>
                   }
               }
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
    <script src="~/Areas/Admin/Public/Js/login.js"></script>
</body>
</html>
